# System / Log files
*.DS_Store
*.log
.env
*.env

# Archives
*.zip
*.txt


# Config file
# app/Config/
# app/Config/Database.php
# app/Config/App.php
writable/
writable/debugbar/
writable/logs
scratch/
assets/upload/**
!assets/upload/**/
!assets/upload/**/index.php
!assets/upload/**/index.html
!assets/upload/**/.gitkeep
.env
